<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
  <mapper namespace="com.semi.main.my.MyPageDAO">
  		
  		<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO"><!-- 임시 로그인용으로 나중에 삭제 -->
  			select * from member where userid=#{userId} and userpw=#{userPw}
  		</select>
  		
  		<select id="getList" resultType="MemberDTO"> <!-- 리스트 테스트 출력용으로 나중에 삭제 -->
  			select * from member
  		</select>
  		
  		<insert id="setFileJoin" parameterType="MyPageFileDTO"> <!-- 회원가입용으로 나중에 삭제 -->
  		INSERT INTO PROFILE 
  		VALUES (PROFILE_SEQ.NEXTVAL, #{userNo}, #{originalFileName}, #{fileName})
	  	</insert>
	  
	  	<insert id="setJoin" parameterType="MemberDTO"> <!-- 회원가입용으로 나중에 삭제 -->
	  		INSERT INTO MEMBER (USERNO, USERID, USERPW, NAME, EMAIL, BIRTH, ADDRESS, PHONE, ACCOUNTDATE, INTRO, STATUSNO)
	  		VALUES (MEMBER_SEQ.NEXTVAL, #{userId}, #{userPw}, #{name}, #{email}, #{birth}, #{address}, #{phone}, sysdate, #{intro}, null)
	  	</insert>
  
  </mapper>