<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
  <mapper namespace="com.semi.main.my.MyPageDAO">
  		
  		<select id="getLogin" parameterType="MemberDTO" resultMap="getLoginResult"><!-- 임시 로그인용으로 나중에 삭제 -->
  			<!-- select * from member where userid=#{userId} and userpw=#{userPw} -->
  			
  			select * 
  			from member m 
  			left outer join
  			profile p
  			on m.userno = p.userno
  			where userid=#{userId} and userpw=#{userPw}
  		</select>
  		
  		<resultMap id="getLoginResult" type="MemberDTO">
			<id column="USERNO" property="userNo" />
			<result column="userid" property="userId" />
			<result column="userpw" property="userPw" />
			<result column="name" property="name" />
			<result column="email" property="email" />
			<result column="birth" property="birth" />
			<result column="address" property="address" />
			<result column="phone" property="phone" />
			<result column="accountdate" property="accountDate" />
			<result column="intro" property="intro" />
			<result column="statusNo" property="statusNo" />
			
			<association property="myPageFileDTO" javaType="MyPageFileDTO">
				<id column="fileNo" property="fileNo" />
				<result column="fileName" property="fileName" />
				<result column="originalFileName" property="originalFileName" />
			</association>
		</resultMap>
  		
  		
  		<select id="getList" resultType="MemberDTO"> <!-- 리스트 테스트 출력용으로 나중에 삭제 -->
  			select * from member
  		</select>
  		
  		<insert id="setFileJoin" parameterType="MyPageFileDTO"> <!-- 회원가입용으로 나중에 삭제 -->
  		<selectKey keyProperty="fileNo" resultType="Long" order="BEFORE">
	  		SELECT PROFILE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO PROFILE 
  		VALUES (#{fileNo}, #{userNo}, #{originalFileName}, #{fileName})
	  	</insert>
	  
	  	<insert id="setJoin" parameterType="MemberDTO"> <!-- 회원가입용으로 나중에 삭제 -->
	  	<selectKey keyProperty="userNo" resultType="Long" order="BEFORE">
	  		SELECT MEMBER_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
	  		INSERT INTO MEMBER (USERNO, USERID, USERPW, NAME, EMAIL, BIRTH, ADDRESS, PHONE, ACCOUNTDATE, INTRO, STATUSNO)
	  		VALUES (#{userNo}, #{userId}, #{userPw}, #{name}, #{email}, #{birth}, #{address}, #{phone}, sysdate, #{intro}, null)
	  	</insert>
	  	
	  	<!-- 회원수정 -->
  	<update id="setMemberUpdate" parameterType="MemberDTO">
  		UPDATE MEMBER SET
  		userpw=#{userPw}, NAME=#{name}, EMAIL=#{email}, BIRTH=#{birth}, 
  		zipcode=#{zipCode}, address=#{address}, refaddress=#{refAddress}, 
  		detailaddress=#{detailAddress}, phone=#{phone}, intro=#{intro}
  		WHERE userid=#{userId}
  	</update>
  
  </mapper>